.box {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    display: inline-block;
    margin-right: 10px;
}
input[type="text"], input[type="email"]  {
    width: 250px;
    height: 30px;
    margin-top: 10px;
    padding-left: 10px;
    border-radius: 10px;
    display: block;
}
radio-group {
    display: inline-block;
    margin-top: 5px;
}